:root {
	--base-size: 12px;
	--gutter-size: calc(2 * var(var(--base-size));

	--color--primary: black;
	--color--secondary: gold;
	--color--background: white;
}

body {
	background-color: azure;
}

p {
	color: tomato;
}
