* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: "Readex Pro", sans-serif;
	/* background: #f4f4f4; */
	color: black;
	overflow-x: hidden;
  }
  
  .intro {
	padding: 2rem 3rem;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
	position: fixed;
	top: 0px;
	background-color: white;
	position: sticky;
	bottom: 0;
	background-color: white;
	padding: 1.5rem 3rem;
	box-shadow: 0 -4px 30px rgba(44, 235, 6, 0.1);
	z-index: 10;
  }

  .hero {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 1;
  }
  
  .hero h1 {
	font-family: "Syncopate", sans-serif;
	font-size: 15vw;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	z-index: 2;
	position: relative;
	color: black;
  }
  
  .bg-gif {
	position: absolute;
	width: 400px;
	height:200px;
	background-image: url('/assets/projects.gif');
	background-size: cover;
	background-position: center;
	z-index: 3;
	pointer-events: none;
  }

  .sticky-projects {
	position: sticky;
	bottom: 0;
	background-color: white;
	padding: 1.5rem 3rem;
	box-shadow: 0 -4px 10px rgba(0, 255, 51, 0.1);
	z-index: 10;
  }
  
  .sticky-projects ul {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
  }
  
  .sticky-projects li {
	flex: 1;
	/* min-width: 120px;
	max-width: 200px; */
	background-color: #fefefe;
	border-radius: 8px;
	padding: 1rem;
	text-align: center;
	transition: transform 0.2s ease;
  }
  
  .sticky-projects li:hover {
	transform: scale(1.05);
  }
  
  .sticky-projects a {
	color: black;
	text-decoration: none;
	font-weight: 300;
  }
  
  .sticky-projects em, .intro em {
	font-style: italic;
	display: block;
	margin-top: 0.3rem;
  }

  .intro em {
	text-decoration: underline;
  }


  @media (max-width: 500px) {

  .bg-gif {
	position: absolute;
	width: 120px;
	height:70px;
	background-image: url('/assets/projects.gif');
	background-size: cover;
	background-position: center;
	z-index: 3;
	pointer-events: none;
  }

}

@media (max-width: 600px) {
	.sticky-projects {
	  padding: 1rem 1rem;
	}
  
	.sticky-projects ul {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 0.75rem;
	  justify-content: center;
	}
  
	.sticky-projects li {
	  /* flex: 1 1 45%; */
	  /* max-width: 48%; */
	  min-width: none;
	  padding: 0.5rem;
	  font-size: 0.75rem;
	}
  
	.sticky-projects p {
	  font-size: 0.8rem;
	  line-height: 1.2;
	}
  
	.sticky-projects em {
	  font-style: italic;
	  font-size: 0.7rem;
	}
  }